
*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gender{
    margin-left: 10px;
    margin-right: 150px;
    display: flex;
    gap: 16px;
}


form{
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border-radius: 5px;
    /* background-color: antiquewhite; */
    margin: 0 auto;
    padding: 16px;
}

form button{
    background-color: #FF385C;;
}


.form-container{
    border: 1px solid rgba(128, 128, 128, 0.756);
    border-radius: 5px;
    margin-bottom: 70px;
    box-shadow: 2px 3px 5px darkgray ;
    width: auto;
}

h1{
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
}

label{
    font-weight: 500;
}


.input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 40px;
    width: 100%;
}

.bbb button{
    width: 200px;
    /* margin-left: 40px; */
    margin-top: 10px;
}

.bbb p{
    margin-top: 5px;
    font-size: small;
    text-align: center;
    color: rgba(0, 0, 0, 0.742);
    font-weight: 600;
}

.bbb a{
    color: black;
}